
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    letter-spacing: 1px; 
    text-align: center;
  }

.images  {
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-wrap: wrap; 
    width: 100%;  
  }

  #dog-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #dog-img {
    background-color: #fff;
    margin:0;
    width: 400px;
    height: 400px;
    align-items: center;
    /* border-radius: 15px; */
  }

@media only screen and (max-width: 590px) {
    .header {
      font-size: 20px;
    }
    #dog-img, #cat-img {
      background-color: #fff;    
      width: 200px;
      height: 200px;
    }
  }