
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #fff;
    letter-spacing: 1px; 
    text-align: center;
  }

  h1 {
      color: black;
      font-family: 'Fredoka One', cursive;
    }

    button {
        font-family: 'Open Sans', sans-serif;
      }
  
      

  .card {
    box-shadow: 15px 15px 15px #c4c1c1;
  }

  .images  {
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-wrap: wrap; 
    width: 100%;  
  }

  #dog-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #dog-img {
    background-color: #fff;
    margin:0;
    width: 400px;
    height: 400px;
    align-items: center;
    border-radius: 15px;
    margin: 2px;
    padding:20px;
  }

@media only screen and (max-width: 590px) {
    #dog-img {
      background-color: #fff;    
      width: 300px;
      height: 300px;
    }
  }